.backdrop {
  background: rgba(0, 0, 0, 0.75);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.alert-box {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 30vh;
  left: 20vw;
  width: 60vw;
  padding: 1rem;
  z-index: 2;
}

.alert-box-actions {
  text-align: right;
}
